		html,body{
			margin:0;
			padding: 0;
		}
		body{
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
  			font-family: 'Josefin Sans', sans-serif;
  			background-color:silver;
		}
		#container{
			width: 60%;
			border-radius: 0 10px 10px 10px;
			background-color:ButtonFace;
			margin-bottom:2em;
  			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
		}
		#menu{
			width: 60%;
			margin-bottom: 0;
			padding:0;
		}
		#menu li{
			display:inline-block;
			background-color: #5bd3ff;
			margin:0;
			list-style: none;
			border: 1px solid #5bd3ff;
			padding:0.2em 0.5em 0.2em 0.5em;
		}
		#menu li:first-child{
			border-top-left-radius: 10px;
		}
		#menu li:last-child{
			border-color:#5bd3ff;
			border-top-right-radius: 10px;
		}
		#menu li a{
			text-decoration: none;
			color: white;
		}
		#menu li.actuel{
			position: relative;
			background-color:#b7eaff;
			border-color:#b7eaff;
  			box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.3);
  			z-index:2;
		}
		#menu li.actuel a{

			color:#34a7d1;
		}

		.chapitre{
			margin:1em;
		}
		b{
			background-color:white;
		}
		a{
			color: black;
		}
		img{
			display:block;
			max-width: 100%;
			border:1px solid black;
			margin:1em;
			margin-left:auto;
			margin-right:auto;
		}

		.enum li{
			list-style-type: decimal;
		}

		#table{
			background-color:white;
			position: fixed;
			top: 20%;
			text-align: left;
			padding: 0;
			background-color:ButtonFace;
		}

		#table:not(.ouvert){
			left: 100%;
		}
		.ouvert{right: 0%;}
		.ouvert ul{
			display: block;
			text-align: left;
			margin:0;
			padding:1em;
			list-style: none;
		}

		#titretable{
			position: absolute;
			top: 0;
			left: -1em;
			height: 100%;
			font-size: 1.2em;
			writing-mode: vertical-rl;
			text-orientation: upright;
			text-align: center;
			font-weight: bold;
			margin:0;
			color: white;
			padding:0;
			background-color: #5bd3ff;
			cursor: pointer;
			border-radius: 5px 0 0 5px;
		}